body {
    background-color:greenyellow;
    text-align: center;
    font-family "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal
}

h1{
    background-color:greenyellow;
    color:tomato;
    font-size: 50px;
    font-family "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal
}

nav a {
    text-decoration: none;
    color:green;
    font-size: 30px
    font-family "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal
}

img{
    width: 900px;
    height: 1259px;
}