body {
    background-image: linear-gradient(#714424, #2f1a11);
  }

figcaption {
    color: #3f9b0b;
    font-size:30px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal
}

h1{
    color: #3f9b0b;
    font-size: 70px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal
    text-align: center
}

nav a {
    text-decoration: none;
    color: #3f9b0b;
    font-size: 30px
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal
}

#wiki{
    width: 295px;
    height: 600px;
}

#findphone{
    width: 600px;
    height: 375px;
}

#netflix{
    width: 277px;
    height: 600px;
}

article{
    display: flex;
    flex-direction: column;
    text-align: center;
}

figure{
    margin-top: 200px;
    margin-bottom: 200px;
}

img{
    height: 80px;
    width: 100px;
    margin-left: 100px;
}