body {
    background-image: linear-gradient(#996039, #230e08);
  }

.caption {
    color: #38ff14;
    font-size:30px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal
}

h1{
    color: black;
    font-size: 70px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    text-align: center;
    margin-top:10px;
}

nav a {
    text-decoration: none;
    color: #3f9b0b;
    font-size: 30px
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal
}

#wiki{
    width: 295px;
    height: 600px;
}

#findphone{
    width: 600px;
    height: 375px;
}

#netflix{
    width: 277px;
    height: 600px;
}

article{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    height: 80px;
    width: 100px;
}

#lava{
    height: auto;
    width: 1380px;
    margin-bottom: 0px;
}

#rolypolygif{
    height:140px;
    width:100px;
}

#backbutton{
    margin-left: 100px;
    margin-top: 0px;
}

.grass{
    height:199px;
    width:300px;
}

header{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:flex-end;
}

#first{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 10px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#second{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#third{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#fourth{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#fifth{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#sixth{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#seventh{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#eighth{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#ninth{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#tenth{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#eleventh{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    border-style: dashed;
    border-color: #38ff14;
    border-width: 10px;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#rock{
   width: 404px;
   height:200px; 
   margin-bottom: 100px;
   margin-left: 200px;
}

#worm{
    width: 200px;
    height:107px; 
    margin-bottom: 100px;
    margin-left: 700px;
}

#pipe{
    width: 1100px;
    height:300px; 
    margin-bottom: 100px;
    margin-left: 120px;
}

#bones{
    width: 426px;
    height: 300px; 
    margin-bottom: 100px;
    margin-left: 700px;  
}

#gem{
    width: 291px;
    height:250px; 
    margin-bottom: 100px;
    margin-left: 250px;  
}

#grass3{
    height:199px;
    width:auto;
    margin-left: 130px;

}

#realheading{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
}

